/*Général*/
body {
	font-family: 'Crete round', Sans-serif;
	box-sizing: border-box;
}

hr {
	font-weight: bold;
}
/*header*/
.baniere {
	margin-bottom: 0px;
	padding: 5px;
}

.baniere div {
	float: left;
}

.social {
	background: grey;
	border-radius: 40px 40px 40px 40px;
	width: 40px;
	height: 40px;
	text-align: center;
}

.recherche {
	padding-right: 0px;
}

header {

}

header nav {
	height: 15px;
	background-image: linear-gradient(to right,white, orange, green);
}
#monlogo{
	color: #1d8c44;
	float: left;
	font-family: 'Kelly Slab', Sans-serif;
	margin-top: 10px;
}

#orange {
	color: #ff7a00
}

#monmenu ul li {
	padding: 0px;

}

#monmenu ul li a{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}

#monmenu ul li a:hover, #monmenu li.active a {
	background: white;
	color: #1d8c44;
}

footer input[type="text"] {
	width: 170px;
	height: 30px;
	font-size: 12px;
	display: inline;
	border-radius: 15px 0 0px 0px;
}

#boutton-rech {
	height: 30px;
	margin-left: -3.5px;
	margin-top: -2px;
	border-radius: 0 0 15px 0px;
	background: #e85425;
	color: white;
}

/*slider*/
.defil{
	height: auto;
}

#feedback h3 {
	text-align: center;
	width: 100%;
	border: 2px solid black;
	font-family: 'Kelly Slab';
	border-radius: 5px;
	margin-top: 50px;
	font-size: 20px;
	margin-bottom: 5px;
 }

#feedback h6 em {
	color: #d82c2e;
	font-size: 12.5px;
}

.commentateur {
	color: #333;
	font-weight: bold;
}

/*presentation*/
#presentation {
	margin-top: 0px;
}

.subtitle {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Kelly Slab';
	font-size: 22px;
}


#presentation div h4 {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
}

/*lieux*/
#lieux h4 {
	width: 100%;
	height: auto;
	background-image: linear-gradient(to right,white, orange, green);
	text-align: center;
	padding: 10px;
	border-radius: 4px;
}

.endroit {
	
	text-align: center;
}

.endroit a {
	width: 100%;
	background: #0c0904;
	color: white;
	font-weight: bold;
	margin-bottom: 10px;
	border-radius: 5px;
}

.endroit a:hover {
	background: #705a2f;
	color: white;
}

#lieux div ul li a {
	text-transform: uppercase;
	font-size: 13px;
}
#lieux img {
	width: 100%;
	height: 400px;
}

#lieux p {
	font-size: 16px;
}
.reservation {
	text-align: center;
	float: none;
}

.reservation a {
	width: 170px;
}

/*hotel*/

.button1 {
	margin-left: 20px;
}

/*footer*/
footer {
	margin-top: 15px;
	background: #333;
	padding: 20px 0 40px;
	color: #fff;
}

footer div {
	text-align: center;
}

.fleche {
	text-align: center;
	float: right;
	border: 1px solid white;
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius:20px;
	font-size: 20PX;
	margin-right:3px;
}


.social-media {
	
	width: 40px;
	height: 40px;
	display: inline-block;
}

#facebook {
	background-image: url(img/social/facebook.png);
	background-size: cover;	
	margin-left: 85px;

}

#twitter {
	background-image: url(img/social/twitter.png);
	background-size: cover;
	margin-left: 20px;

}

#youtube {
	background-image: url(img/social/youtube.png);
	background-size: cover;
	margin-left: 20px;
}

#insta {
	background-image: url(img/social/insta.png);
	background-size: cover;
	margin-left: 20px;
}

